.headerphoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  min-height: 20vh;
  max-height: 36vh; }

.column, .columns {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.headertitle {
  text-align: center; }

[type='search'] {
  box-shadow: none; }

ul.pagination {
  background: #DDD;
  display: inline-block; }
  ul.pagination a {
    padding: 0.6em 1em;
    text-decoration: none; }
  ul.pagination .active a {
    color: #e6e6e6;
    background: #0a0a0a; }

h1 a, h2 a, h3 a {
  text-decoration: none; 
}

p.meta {
  font-size: 90%;
  color: #666; }

@media screen and (min-width: 40em) {
  img {
    margin: 0 auto 1rem;
    max-width: 80%;
    display: block; } }

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none; } }

@media screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none; } }

.menu > li {
  padding: 0; }
  .menu > li a {
    color: #2B2B2B;
    text-decoration: none; }
  .menu > li.active > a {
    color: #2B2B2B;
    background-color: inherit;
    border-bottom: 1px solid; }

.widgetholder .widget {
  margin: 1.5em 0; }

code {
  margin: 0.5em;
}

div.code {
  font-family: Consolas,"courier new";
  font-size: 18px;
  margin: 1em 0 3em 1em;
  line-height: 1.4;
  width: auto;
  background-color: #EFEAE6;
  color: #000;
  padding: 1em;
  border-left: 4px solid #497680;
  word-wrap: break-word;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

table {
  margin: 2em 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;  
}

ul.tags {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.tags li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 0;
}
ul.tags li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #3498db;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
ul.tags li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #3498db transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
ul.tags li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
ul.tags li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul.tags li a:hover {
	background-color: #448;
	color: #fff;
}
ul.tags li a:hover::before {
	border-right-color: #448;
}

h2,h3 {
  padding: 0.5em 0 0.5em 0.1em;
}

img {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

img.formula {
  margin: 20px;
  padding: 1em 2em;
  display: inline;
}

img.logo {
  box-shadow: none !important;
  margin: 0.5em auto 0;
}

h2.logo {
  margin-bottom: 0 !important;
}

img.share {
  box-shadow: none !important;
  margin: 20px;
  border: none;
  float:left;
}

.headerphoto {
  margin-bottom: 30px;
}

table.link {
  box-shadow: none !important;
  border: none !important;
  border-collapse: separate; 
}

table.link img {
  margin: 20px 0px;
}

dt{
  font-weight : bold;
  margin-bottom : 10px;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #666666;
  border-left-width : 4px;
  border-left-style : solid;
  border-left-color : #666666;
  padding-top : 2px;
  padding-left : 8px;
  padding-bottom : 2px;
}

dd{  
  margin : 1em 2em 2em 0;    
  padding-left : 2em;
}