<!-- Footer -->

<footer class="row">
    <hr />
    <div class="large-6 columns">
        {{ menu(
            identifier = 'main',
            template = 'partials/_sub_menu.twig',
            params = {'withsubmenus': false, 'class': 'inline-list align-right'}
        ) }}
    </div>

    {{ widgets('footer') }}

</footer>
<script>
  	var cb = function() {
  	var l = document.createElement('link'); l.rel = 'stylesheet';
  	l.href = 'http://file.cdn.tokyo/cdn/masasikatano/min/foundation.css';
  	var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
  	};
  	var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
  	if (raf) raf(cb);
  	else window.addEventListener('load', cb);
</script>
<script src="http://file.cdn.tokyo/cdn/masasikatano/min/jquery.min_.js" async></script>
<script src="http://file.cdn.tokyo/cdn/masasikatano/min/foundation.min_.js" async></script>
<script src="http://file.cdn.tokyo/cdn/masasikatano/min/app.js" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" async></script>
<script>
    WebFont.load({
      google: {
        families: ['Noto Sans']
      }
    });
</script>
<script async>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-81810435-1', 'auto');
    ga('send', 'pageview');
</script>
